@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --cor1: #593954;
    --cor2: #013440;
    --cor3: #026873;
    --cor4: #038C7F;
    --cor5: #038C8C;

    --font-menu: 'Smooch Sans', sans-serif;;
    --font-titulo: 'Poppins', monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(62, 134, 60, 0.308);
    background-image: url('Flexible-Electronics-Background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header > h1 {
    font-family: var(--font-titulo);
    font-size: 1.8em;
    color: white;
    text-align: center;
    padding: 30px 0px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

header { 
    height: 100px;
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
}

nav {
    background-image: linear-gradient(to top, var(--cor5), var(--cor4));
    padding: 5px;
    margin-bottom: 50px;
}

nav > a {
    margin-left: 15px;
    padding: 5px;
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--font-titulo);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    font-weight: bolder;
    transition-duration: 0.2s;
    border-radius: 5px;
}

nav > a:hover {
    padding: 3px 15px;
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
}

main {
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.87);
    margin: auto;
    margin-top: 10px;
    padding: 50px 10px;
    min-width: 300px;
    max-width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 1px 10px white;
}

main > h2 {
    padding: 5px 9px;
    margin: 0px 25px;
    margin-bottom: 30px;
    margin-right: 500px;
    background-image: linear-gradient(to right,  #195a8a, rgba(255, 255, 255, 0));
    border-radius: 5px 0px 0px 5px;
}

main > h2 > a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.336);
}

main > h2 > a:hover {
    text-decoration: underline;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

main > p {
    margin: 30px;
    line-height: 1.5em;
    font-size: 1.3em;
}

footer {
    background-color: #593954c4;
    color: white;
    margin-top: 50px;
}

footer > p {
    font-family: var(--font-menu);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

footer  a:hover {
    text-decoration: underline;
}